# Getting the Dataset-2 through API call

In [11]:
#import the libraries
from sodapy import Socrata
import pandas as pd
from pymongo import MongoClient

try:
    # Connect to the Socrata API
    client = Socrata("data.ny.gov","hBOnYmPv4fHBUIpA9O6WExHn7")

    # Fetch data from the API and convert to a pandas DataFrame
    results = client.get("d6dy-3h7r", limit=98000)
    data = pd.DataFrame.from_records(results)
    print(data)
    # Connecting to MongoDB
    client = MongoClient('mongodb://localhost:27017/')
    db = client['DAP_Project_DB']
    collection = db['NY_Restaurant_inspection']

    # Inserting the data into the MongoDB collection
    data_dict = data.to_dict("records")
    collection.insert_many(data_dict)
    print("Dataset 2 inserted in to MongoDb successfully")
except Exception as e:
    print("Error: ", e)

       county inspection_grade          inspection_date establishment_type  \
0      Albany                A  2022-04-18T00:00:00.000                  W
1      Albany                A  2023-02-01T00:00:00.000                 AC
2      Albany                A  2021-05-07T00:00:00.000                 AC
3      Albany                C  2023-01-03T00:00:00.000                 AC
4      Albany                C  2023-01-03T00:00:00.000                 AC
...       ...              ...                      ...                ...
97995  Monroe                C  2023-03-08T00:00:00.000                 AC
97996  Monroe                C  2023-03-08T00:00:00.000                 AC
97997  Monroe                A  2022-03-07T00:00:00.000                  A
97998  Monroe                A  2023-02-16T00:00:00.000                  A
97999  Monroe                A  2022-01-18T00:00:00.000                 AC

                       owner_name               trade_name             street  \
0      100 ACRE WOOD VINEYARD LLC      CLOVERPOND VINEYARD  100 MARIPOSA LANE
1                 1095 LOUDON INC      BOGHT CORNERS MOBIL   1095 LOUDON ROAD
2                 1095 LOUDON INC      BOGHT CORNERS MOBIL   1095 LOUDON ROAD
3                1250 SELKIRK INC             1250 SELKIRK  1250 RTE 9W & 396
4                1250 SELKIRK INC             1250 SELKIRK  1250 RTE 9W & 396
...                           ...                      ...                ...
97995            TAHIR MOHAMMAD A            KWIK WAY MART     150 BUFFALO RD
97996            TAHIR MOHAMMAD A            KWIK WAY MART     150 BUFFALO RD
97997       TAJ MAHAL GROCERY LLC  TAJ MAHAL GROCERY AND S   1742 LONGPOND RD
97998       TAJ MAHAL GROCERY LLC  TAJ MAHAL GROCERY AND S   1742 LONGPOND RD
97999       TANGO ENTERPRISES LLC                    TANGO     417 MONROE AVE

            city statecode zipcode  \
0       ALTAMONT        NY   12009
1         COHOES        NY   12047
2         COHOES        NY   12047
3        SELKIRK        NY   12158
4        SELKIRK        NY   12158
...          ...       ...     ...
97995  ROCHESTER        NY   14611
97996  ROCHESTER        NY   14611
97997  ROCHESTER        NY   14606
97998  ROCHESTER        NY   14606
97999  ROCHESTER        NY   14607

                                            georeference deficiency_number  \
0      {'type': 'Point', 'coordinates': [-73.96214, 4...               NaN
1      {'type': 'Point', 'coordinates': [-73.74413, 4...               NaN
2      {'type': 'Point', 'coordinates': [-73.74413, 4...               NaN
3      {'type': 'Point', 'coordinates': [-73.8073, 42...               12A
4      {'type': 'Point', 'coordinates': [-73.8073, 42...               09F
...                                                  ...               ...
97995  {'type': 'Point', 'coordinates': [-77.6544, 43...               15F
97996  {'type': 'Point', 'coordinates': [-77.6544, 43...               02A
97997  {'type': 'Point', 'coordinates': [-77.70157, 4...               NaN
97998  {'type': 'Point', 'coordinates': [-77.70157, 4...               NaN
97999  {'type': 'Point', 'coordinates': [-77.59532, 4...               NaN

                                  deficiency_description
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      - Several deli meats stored in display cooler ...
4      - Steel wool ball above equipment wash sink in...
...                                                  ...
97995  - Multiple storage shelves are covered with so...
97996  -  Several single-serve packets of sweeteners ...
97997                                                NaN
97998                                                NaN
97999                                                NaN

[98000 rows x 13 columns]
Dataset 2 inserted in to MongoDb successfully